@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #fff;
  --navbar-color: #0f172a;
  --bg-color: #020617;
  --star-color: #eaec04;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "Montserrat", serif;
}