@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --navbar-color: #0f172a;
  --bg-color: #020617;
  --star-color: #eaec04;
  --btn-color: #6a0dad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "Montserrat", serif;
}

body {
  background-color: var(--bg-color);
}

.moviesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

button {
  display: block;
  margin: 1rem auto;
  padding: 0.6rem 1rem;
  background-color: var(--btn-color);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.2s;
}

.loading {
  width: 100%;
  text-align: center;
  color: #eee;
  font-weight: bold;
}
